div:focus {
  outline: 2px solid #2BBBAD;
}

.img-fit {
  object-fit: fill;
  height: 150px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .navbar .nav-item .nav-link {
    margin-left: 10px;
  }
  #logout {
    margin-left: 20px;
  }
}
